:root {
    --white: #fff;
    --light-grey: #efefef;
    --dark-grey: #434242;
    --red: #e60012;
    --dark-red: #ac000d;
    --light-blue: #d6f0fa;
    --dark-blue: #0b2b6b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: var(--dark-grey);
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header {
    display: grid;
    grid-template-columns: 140px auto 30%;
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
}

.top-header .nintendo-logo {
    background-color: var(--red);
    height: 55px;
}

.nintendo-logo img {
    width: 65%;
}

.header-nav {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-nav a {
    margin: 0 0.6rem;
}

.header-nav span {
    font-size: 1rem;
}

.link {
    color: var(--dark-grey);
    transition: color 0.3s;
    font-weight: 700;
    transition: 0.2s;
}

.link:hover {
    color: var(--red);
}

.game-main-image {
    position: relative;
}

.search-input {
    width: fit-content;
    height: fit-content;
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    margin: 1.5rem 2rem 0.5rem 2rem;
}

.search-input input {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    width: auto;
    transition: 0.2s;
}

.search-input i {
    font-size: 1.2rem;
}

.search-input:hover {
    color: var(--red);
    border-color: var(--red);
}

.search-input input::placeholder {
    transition: 0.2s;
}

.search-input:hover input::placeholder {
    color: var(--red);
}

.search-input input:focus {
    outline: none;
}

.bottom-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--light-grey);
}

.bottom-header i {
    font-size: 1.43rem;
    padding: 0 0.5rem;
}

.bottom-header a {
    padding: 0 1rem;
}

.game-banner {
    background: linear-gradient(var(--light-blue) 85%, var(--white) 0% 100%);
    padding: 2rem 0;
}

.game-seal {
    margin-top: auto;
    margin-bottom: 7.5rem;
    margin-left: 1.5rem;
}

.game-info {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 30%;
}

.game-info__console {
    width: fit-content;
    padding-bottom: 0.4rem;
    border-bottom: 2px solid var(--red);
}

.game-info__title {
    padding: 1rem 0;
}

.game-info__title h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
}

.game-info__title p {
    font-size: 1.15rem;
}

.game-info__wishlist {
    width: fit-content;
    font-weight: 800;
    color: var(--red);
    transition: 0.3s;
}

.game-info__wishlist p {
    padding-bottom: 0.5rem;
    position: relative;
}

.game-info__wishlist i {
    font-size: 1.7rem;
    padding: 0.8rem 0.5rem 1.3rem 0;
}

.game-info__wishlist:hover {
    color: var(--dark-red);
}

.game-info__wishlist p:after {
    content:"";
    width: 100%;
    height: 2px;
    background-color: var(--dark-red);
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.game-info__wishlist:hover p:after {
    opacity: 1;
}

.game-info__game-price {
    padding-top: 2.5rem;
    display: flex;
}

.game-info__game-price__price {
    font-size: 2rem;
    font-weight: 700;
}

.game-info__game-price button {
    background-color: transparent;
    padding: 1.2rem;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    position: relative;
    align-self: center;
}

.game-info__game-price button:after {
    border-radius: 0.5rem;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--red);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-out;
}

.game-info__game-price button:hover:after {
    animation: button-hover-animation 0.5s forwards;
    background-color: var(--dark-red);
}

.game-info__game-price button .go-right-icon {
    margin-left: 6.2rem;
}

.game-info__game-price__buy-game {
    margin-left: 1rem;
    width: 100%;
}

.game-info__game-price__buy-game__points-info {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.game-info__game-price__buy-game__points-info p {
    padding-bottom: 0.5rem;
    position: relative;
}

.game-info__game-price__buy-game__points-info img {
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.game-info__game-price__buy-game__points-info p:after {
    content:"";
    width: 100%;
    height: 2px;
    background-color: var(--dark-grey);
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.game-info__game-price__buy-game__points-info p:hover:after {
    opacity: 1;
}

@keyframes button-hover-animation {
    50% {
        width: 104%;
        height: 110%;
        transform: translate(-2%, -5%);
    }
    75% {
        width: 102%;
        height: 106%;
        transform: translate(-1%, -3%);
    }
    100% {
        width: 104%;
        height: 110%;
        transform: translate(-2%, -5%);
    }
}