/* ===// General definitions //=== */
:root {
    --dark-blue: #0b2b6b;
    --dark-grey: #434242;
    --dark-red: #ac000d;
    --light-blue: #d6f0fa;
    --light-grey: #efefef;
    --red: #e60012;
    --white: #fff;
}

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    color: var(--dark-grey);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.center-flex {
    align-items: center;
    display: flex;
    justify-content: center;
}


/* Links */
.link-color {
    color: var(--dark-grey);
    font-weight: 700;
    transition: color 0.2s;
}

.link-color:hover {
    color: var(--red);
    cursor: pointer;
}

.link-underline {
    padding-bottom: 0.5rem;
    position: relative;
}

.link-underline:after {
    background-color: var(--dark-grey);
    bottom: 0;
    content:"";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s;
    width: 100%;
}

.link-underline:hover {
    cursor: pointer;
}

.link-underline:hover:after {
    opacity: 1;
}

/* Heart icon to wishlist */
.add-to-wishlist-icon i {
    font-size: 1.7rem;
    color: var(--red);
    transition: color 0.2s;
}

.add-to-wishlist-icon i:hover {
    color: var(--dark-red);
}

.add-to-wishlist-icon:hover {
    cursor: pointer;
}

/* Button */
.button {
    align-self: center;
    display: flex;
    background-color: transparent;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    justify-content: space-between;
    padding: 1.2rem;
    position: relative;
    width: 85%;
}

.button:after {
    background-color: var(--red);
    border-radius: 0.5rem;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-out;
    width: 100%;
    z-index: -1;
}

.button:hover {
    cursor: pointer;
}

.button:hover:after {
    animation: button-hover-animation 0.5s forwards;
    background-color: var(--dark-red);
}

@keyframes button-hover-animation {
    50% {
        height: 110%;
        transform: translate(-2%, -5%);
        width: 104%;
    }
    75% {
        height: 106%;
        transform: translate(-1%, -3%);
        width: 102%;
    }
    100% {
        height: 110%;
        transform: translate(-2%, -5%);
        width: 104%;
    }
}


/* ===// Header //=== */
.top-header {
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-header-fixed {
    display: flex;
}

.top-header .nintendo-logo {
    width: 140px;
    background-color: var(--red);
    height: 55px;
}

.nintendo-logo img {
    width: 65%;
}

.header-nav {
    align-items: center;
    display: flex;
    justify-content: right;
    padding: 0.5rem;
    min-width: 350px;
}

.header-nav a {
    margin: 0 0.6rem;
}

.header-nav span {
    font-size: 1rem;
}

.search-input {
    display: flex;
    border-bottom: 1px solid var(--dark-grey);
    height: fit-content;
    margin: 1.5rem 2rem 0.5rem 2rem;
}

.search-input input {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    transition: 0.2s;
    width: auto;
}

.search-input i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.search-input:hover {
    border-color: var(--red);
    color: var(--red);
}

.search-input input::placeholder {
    transition: 0.2s;
}

.search-input:hover input::placeholder {
    color: var(--red);
}

.search-input input:focus {
    outline: none;
}

.bottom-header {
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}

.bottom-header i {
    font-size: 1.43rem;
    padding: 0 0.5rem;
}

.bottom-header a {
    padding: 0 1rem;
}


/* ===// Game info //=== */
/* Game banner */
.game-banner {
    background: linear-gradient(var(--light-blue) 85%, var(--white) 0% 100%);
    padding: 2.5rem;
}

.game-banner-img {
    max-width: 1089px;
    height: auto;
    width: 95%;
}

.game-seal {
    margin: auto 0 7.5rem 1.5rem;
}

/* Game general info */
.info-box {
    margin: 0 auto;
    max-width: 1180px;
    width: 96%;
}

.game-info {
    display: flex;
    justify-content: space-between;
}

.game-info__console {
    border-bottom: 2px solid var(--red);
    padding-bottom: 0.4rem;
    width: fit-content;
}

.game-info__title {
    padding: 1rem 0;
}

.game-info__title h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
}

.game-info__title p {
    font-size: 1.15rem;
}

.game-info__wishlist {
    color: var(--red);
    font-weight: 800;
    width: fit-content;
}

.game-info__wishlist i {
    font-size: 1.7rem;
    padding: 0.8rem 0.5rem 1.3rem 0;
}

.game-info__wishlist:hover {
    color: var(--dark-red);
}

.game-info__wishlist:hover i {
    color: var(--dark-red);
}

.game-info__wishlist .link-underline:after {
    background-color: var(--dark-red);
}

.game-info__game-price {
    display: flex;
}

.game-info__game-price__price {
    font-size: 2rem;
    font-weight: 700;
}

.game-info__game-price__buy-game {
    margin-left: 1rem;
    width: 100%;
}

.game-info__game-price__buy-game button {
    width: 238px;
}

.game-info__game-price__buy-game__points-info {
    align-items: center;
    display: flex;
    padding: 1rem 0;
}

.game-info__game-price__buy-game__points-info img {
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
}

/* ===// Customers also viewed section //=== */
.customers-also-viewed h2 {
    font-size: 2rem;
    margin: 0 auto 2.1rem auto;
    max-width: 1180px;
    width: 96%;
}

.game-title-wrapper {
    display: flex;
    overflow-x: hidden;
}

.customer-also-viewed__carrosel {
    position: relative;
}

.go-left-tab,
.go-right-tab {
    background-color: var(--dark-grey);
    color: var(--light-grey);
    height: 100%;
    width: 4rem;
    opacity: 0.7;
    top: 0;
    position: absolute;
    font-size: 2.5rem;
    visibility: hidden;
    display: flex;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.go-left-tab {
    text-align: right;
    border-radius: 0 0.3rem 0.3rem 0;
    left: 0;
}

.go-right-tab {
    text-align: left;
    border-radius: 0.3rem 0 0 0.3rem;
    right: 0;
}

.customer-also-viewed__carrosel:hover .go-left-tab,
.customer-also-viewed__carrosel:hover .go-right-tab {
    visibility: visible;
    cursor: pointer;
}

.game-title {
    min-width: 17%;
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
}

.game-title__img-overlay {
    position: relative;
    width: 100%;
    height: fit-content;
}

.game-title__img-overlay span {
    background-color: #434242;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0.5rem;
}

.game-title__img-overlay:hover span {
    opacity: 0.4;
    cursor: pointer;
}

.game-title__img-overlay img {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
}

.game-title__extra-info {
    display: flex;
    justify-content: space-between;
}

.game-title__date {
    font-size: 1.15rem;
}

.game-title__title,
.game-title__price {
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 1.5rem;
}

.game-title__title:hover {
    cursor: pointer;
}

@media (max-width: 1430px) {
    .game-title {
        min-width: 20%;
    }
}



/* ===// Footer //=== */
.footer {
    background-color: var(--dark-grey);
    color: var(--light-grey);
    font-size: 0.85rem;
    padding: 3rem 0;
}

.footer a {
    color: var(--light-grey);
}

.footer_top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.2rem;
}

.footer__links {
    height: 81px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.footer__links__contact_n_feedback {
    display: flex;
    justify-content: space-between;
    font-size: 1.14rem;
    font-weight: 600;
    margin-bottom: auto;
}

.footer__links__contact_n_feedback a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer__links__social_media {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    font-size: 2.1rem;
}

.footer__links__social_media div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 0.3rem;
}

.footer__links__social_media .social_media__fb{
    background-color: #1878f2;
}

.footer__links__social_media .social_media__ig{
    background-color: #d32c69;
}

.footer__links__social_media .social_media__tt{
    background-color: #1da1f2;
}

.footer__links__social_media .social_media__yt{
    background-color: #ff0200;
}

.footer__links__privacy_seal {
    margin-left: 2rem;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__copyright span {
    padding: 0.4rem;
}

.footer__copyright__support:hover {
    text-decoration: underline;
}

@media (max-width: 1252px) {
    .game-seal {
        margin-left: -80px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1018px) {
    .game-title {
        min-width: 26%;
    }
}

@media (max-width: 995px) {
    .search-input {
        border: none;
    }

    .search-input {
        width: 100px;
    }
}

@media (max-width: 904px) {
    .game-info__game-price {
        flex-direction: column;
        align-items: flex-end;
    }

    .game-info__game-price__price {
        margin-bottom: 1.5rem;
    }

    .game-info__game-price__buy-game {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .game-info__game-price__buy-game button {
        align-self: flex-end;
    }
}

@media (max-width: 768px) {
    .header-nav {
        min-width: 130px;
    }

    .search-input {
        display: none;
    }

    .bottom-header {
        display: none;
    }

    .movable {
        display: none;
    }

    .game-banner {
        padding: 0 0 1rem 0;
    }

    .game-banner-img {
        width: 100%;
    }

    .game-seal {
        display: none;
    }

    .game-info {
        flex-direction: column;
    }

    .game-info__game-price {
        align-items: flex-start;
    }

    .game-info__game-price__buy-game {
        align-items: flex-start;
        margin: 0;
    }

    .game-info__game-price__buy-game button {
        width: 100%;
        align-self: flex-start;
    }
}

@media (max-width: 754px) {
    .game-title {
        min-width: 38%;
    }
}